blueprint-make.json
{
  "name": "Plantilla Telegram Audio a Trello",
  "flow": [
    {
      "id": 1,
      "module": "telegram:WatchUpdates",
      "version": 1,
      "parameters": {},
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 116,
          "y": -24
        },
        "restore": {
          "parameters": {
            "__IMTHOOK__": {
              "data": {
                "editable": "true"
              },
              "label": "CONFIGURAR WEBHOOK PROPIO"
            }
          }
        },
        "parameters": [
          {
            "name": "__IMTHOOK__",
            "type": "hook:telegramapi",
            "label": "Webhook",
            "required": true
          }
        ]
      }
    },
    {
      "id": 2,
      "module": "telegram:DownloadFile",
      "version": 1,
      "parameters": {},
      "filter": {
        "name": "Seguro",
        "conditions": [
          [
            {
              "a": "{{1.message.attachment.type}}",
              "b": "Voice",
              "o": "text:equal"
            }
          ]
        ]
      },
      "mapper": {
        "fileId": "{{1.message.attachment.file_id}}"
      },
      "metadata": {
        "designer": {
          "x": 344,
          "y": 131
        },
        "restore": {
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "telegram"
              },
              "label": "CONFIGURAR CONEXIÓN PROPIA DE TELEGRAM"
            }
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:telegram",
            "label": "Connection",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "fileId",
            "type": "text",
            "label": "File ID",
            "required": true
          }
        ]
      }
    },
    {
      "id": 4,
      "module": "http:MakeRequest",
      "version": 4,
      "parameters": {
        "tlsType": "",
        "authenticationType": "noAuth"
      },
      "mapper": {
        "url": "",
        "method": "post",
        "headers": [],
        "contentType": "json",
        "inputMethod": "jsonString",
        "shareCookies": false,
        "parseResponse": true,
        "allowRedirects": true,
        "stopOnHttpError": true,
        "jsonStringBodyContent": "{\r\n  \"audio_base64\": \"{{base64(2.fileOutput)}}\",\r\n  \"mime_type\": \"audio/ogg\",\r\n  \"today\": \"{{formatDate(now; \\ + \" YYYY-MM-DD\\\")}}\"\r\n}",
        "requestCompressedContent": true
      },
      "metadata": {
        "designer": {
          "x": 520,
          "y": -41
        },
        "restore": {
          "expect": {
            "method": {
              "mode": "chose",
              "label": "POST"
            },
            "headers": {
              "mode": "chose",
              "items": [
                null
              ]
            },
            "contentType": {
              "label": "application/jsonEnter data in the JSON format, as a string or using a data structure."
            },
            "inputMethod": {
              "label": "JSON stringEnter the JSON body as a raw text string. If values contain JSON reserved characters, you must escape them manually."
            },
            "shareCookies": {
              "mode": "chose"
            },
            "parseResponse": {
              "mode": "chose"
            },
            "allowRedirects": {
              "mode": "chose"
            },
            "paginationType": {
              "label": "Empty"
            },
            "queryParameters": {
              "mode": "chose"
            },
            "stopOnHttpError": {
              "mode": "chose"
            },
            "requestCompressedContent": {
              "mode": "chose"
            }
          },
          "parameters": {
            "tlsType": {
              "label": "Empty"
            },
            "authenticationType": {
              "label": "No authenticationUse when no credentials are required for the request."
            }
          }
        },
        "parameters": [
          {
            "name": "authenticationType",
            "type": "select",
            "label": "Authentication type",
            "required": true,
            "validate": {
              "enum": [
                "noAuth",
                "apiKey",
                "basicAuth",
                "oAuth"
              ]
            }
          },
          {
            "name": "tlsType",
            "type": "select",
            "label": "Transport layer security (TLS)",
            "validate": {
              "enum": [
                "mTls",
                "tls"
              ]
            }
          },
          {
            "name": "proxyKeychain",
            "type": "keychain:proxy",
            "label": "Proxy"
          }
        ],
        "expect": [
          {
            "name": "url",
            "type": "url",
            "label": "URL",
            "required": true
          },
          {
            "name": "method",
            "type": "select",
            "label": "Method",
            "required": true,
            "validate": {
              "enum": [
                "get",
                "head",
                "post",
                "put",
                "patch",
                "delete",
                "options"
              ]
            }
          },
          {
            "name": "headers",
            "spec": {
              "name": "value",
              "spec": [
                {
                  "name": "name",
                  "type": "text",
                  "label": "Name",
                  "required": true,
                  "validate": {
                    "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                  }
                },
                {
                  "name": "value",
                  "type": "text",
                  "label": "Value"
                }
              ],
              "type": "collection",
              "label": "Header"
            },
            "type": "array",
            "label": "Headers"
          },
          {
            "name": "queryParameters",
            "spec": {
              "name": "value",
              "spec": [
                {
                  "name": "name",
                  "type": "text",
                  "label": "Name",
                  "required": true
                },
                {
                  "name": "value",
                  "type": "text",
                  "label": "Value"
                }
              ],
              "type": "collection",
              "label": "Parameter"
            },
            "type": "array",
            "label": "Query parameters"
          },
          {
            "name": "contentType",
            "type": "select",
            "label": "Body content type",
            "validate": {
              "enum": [
                "json",
                "multipart",
                "urlEncoded",
                "custom"
              ]
            }
          },
          {
            "name": "parseResponse",
            "type": "boolean",
            "label": "Parse response",
            "required": true
          },
          {
            "name": "stopOnHttpError",
            "type": "boolean",
            "label": "Return error if HTTP request fails",
            "required": true
          },
          {
            "name": "timeout",
            "type": "uinteger",
            "label": "Timeout",
            "validate": {
              "max": 300,
              "min": 1
            }
          },
          {
            "name": "allowRedirects",
            "type": "boolean",
            "label": "Allow redirects",
            "required": true
          },
          {
            "name": "shareCookies",
            "type": "boolean",
            "label": "Share cookies with other HTTP modules",
            "required": true
          },
          {
            "name": "requestCompressedContent",
            "type": "boolean",
            "label": "Request compressed content",
            "required": true
          },
          {
            "name": "inputMethod",
            "type": "select",
            "label": "Body input method",
            "required": true,
            "validate": {
              "enum": [
                "dataStructure",
                "jsonString"
              ]
            }
          },
          {
            "name": "jsonStringBodyContent",
            "type": "text",
            "label": "Body content",
            "required": true
          },
          {
            "name": "paginationType",
            "type": "select",
            "label": "Pagination type",
            "validate": {
              "enum": [
                "offsetBased",
                "pageBased",
                "urlBased",
                "tokenBased"
              ]
            }
          }
        ],
        "interface": [
          {
            "name": "data",
            "type": "any",
            "label": "Data"
          },
          {
            "name": "statusCode",
            "type": "number",
            "label": "Status Code"
          },
          {
            "name": "headers",
            "spec": [
              {
                "name": "content-length",
                "type": "text",
                "label": "Content-Length"
              },
              {
                "name": "content-encoding",
                "type": "text",
                "label": "Content-Encoding"
              },
              {
                "name": "content-type",
                "type": "text",
                "label": "Content-Type"
              },
              {
                "name": "server",
                "type": "text",
                "label": "Server"
              },
              {
                "name": "cache-control",
                "type": "text",
                "label": "Cache-Control"
              },
              {
                "name": "set-cookie",
                "spec": {
                  "type": "text"
                },
                "type": "array",
                "label": "Set-Cookie"
              }
            ],
            "type": "collection",
            "label": "Headers"
          }
        ]
      }
    },
    {
      "id": 13,
      "module": "builtin:BasicFeeder",
      "version": 1,
      "parameters": {},
      "mapper": {
        "array": "{{4.data.tareas}}"
      },
      "metadata": {
        "designer": {
          "x": 759,
          "y": 120
        },
        "restore": {
          "expect": {
            "array": {
              "mode": "edit"
            }
          }
        },
        "expect": [
          {
            "mode": "edit",
            "name": "array",
            "spec": [],
            "type": "array",
            "label": "Array"
          }
        ]
      }
    },
    {
      "id": 14,
      "module": "trello:createCard",
      "version": 4,
      "parameters": {},
      "mapper": {
        "name": "{{13.titulo}}",
        "start": "{{13.fecha_inicio}}",
        "list_id": "",
        "board_id": "",
        "due_date": "{{13.fecha_fin}}",
        "dueComplete": false,
        "list_id_select_or_manual": "manual"
      },
      "metadata": {
        "designer": {
          "x": 934,
          "y": -26
        },
        "restore": {
          "expect": {
            "name": {
              "collapsed": true
            },
            "list_id": {
              "label": "CONFIGURAR VALOR PROPIO",
              "collapsed": true
            },
            "board_id": {
              "label": "CONFIGURAR VALOR PROPIO",
              "collapsed": true
            },
            "position": {
              "mode": "chose",
              "label": "Empty",
              "collapsed": true
            },
            "labels_id": {
              "mode": "chose",
              "collapsed": true
            },
            "urlSource": {
              "collapsed": true
            },
            "members_id": {
              "mode": "chose",
              "collapsed": true
            },
            "description": {
              "collapsed": true
            },
            "dueComplete": {
              "mode": "chose",
              "collapsed": true
            },
            "select_or_manual_cardID": {
              "label": "Empty",
              "collapsed": true
            },
            "list_id_select_or_manual": {
              "label": "Select",
              "collapsed": true
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "trello"
              },
              "label": "CONFIGURAR CONEXIÓN PROPIA DE TRELLO"
            }
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:trello",
            "label": "Connection",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "list_id_select_or_manual",
            "type": "select",
            "label": "Enter a List ID",
            "required": true,
            "validate": {
              "enum": [
                "manual",
                "select"
              ]
            }
          },
          {
            "name": "name",
            "type": "text",
            "label": "Name"
          },
          {
            "name": "description",
            "type": "text",
            "label": "Description"
          },
          {
            "name": "position",
            "type": "select",
            "label": "Position",
            "validate": {
              "enum": [
                "top",
                "bottom"
              ]
            }
          },
          {
            "name": "start",
            "time": false,
            "type": "date",
            "label": "Start date"
          },
          {
            "name": "due_date",
            "time": true,
            "type": "date",
            "label": "Due date"
          },
          {
            "name": "dueComplete",
            "type": "boolean",
            "label": "Due complete",
            "required": true
          },
          {
            "name": "urlSource",
            "type": "url",
            "label": "File URL"
          },
          {
            "name": "filename",
            "type": "text",
            "label": "File name"
          },
          {
            "name": "filedata",
            "type": "buffer",
            "label": "File data"
          },
          {
            "name": "select_or_manual_cardID",
            "type": "select",
            "label": "Copy card",
            "validate": {
              "enum": [
                "manually",
                "select"
              ]
            }
          },
          {
            "name": "board_id",
            "type": "select",
            "label": "Board",
            "required": true
          },
          {
            "name": "list_id",
            "type": "select",
            "label": "List",
            "required": true
          },
          {
            "name": "labels_id",
            "type": "select",
            "label": "Labels",
            "multiple": true
          },
          {
            "name": "members_id",
            "type": "select",
            "label": "Members",
            "multiple": true
          }
        ],
        "advanced": true
      }
    }
  ],
  "metadata": {
    "instant": true,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "slots": null,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "us2.make.com",
    "notes": []
  }
}
